DirectoryIndex server.php

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

# "/home.php" -> "/"
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\shome\.php [NC]
RewriteRule ^ / [R=301,L,NC]

RewriteRule ^/$ home.php [L,NC]

# "/contact.php" -> "/kapcsolat"
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\scontact\.php [NC]
RewriteRule ^ /kapcsolat [R=301,L,NC]

RewriteRule ^/kapcsolat$ contact.php [L,NC]